.thumbnail-btn{
    margin-left: 5px;
    margin-right: 5px;
}
img.gridimg{
    width: 242px;
    height: 200px;
}
img.listimg{
    width: 260px;
    height: 200px;
}
p.time{
    color: grey;
}
.center{
    margin-left: 20px;
    margin-right: 20px;
}
